:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-800: #595959;
    --dl-color-gray-900: #d9d9d9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #a22020;
    --dl-color-danger-500: #bf2626;
    --dl-color-danger-700: #e14747;
    --dl-color-gray-black: #ffffff;
    --dl-color-gray-white: #ffffff;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003eb3;
    --dl-color-primary-300: #0074f0;
    --dl-color-primary-500: #14a9ff;
    --dl-color-primary-700: #85dcff;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32a94c;
    --dl-color-success-700: #4cc366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-primary1-blue80: #329e5e;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-primary1-blue100: #329e5e;
    --dl-space-space-threeunits: 48px;
    --dl-color-secondary-gray500: #d9d9d9ff;
    --dl-color-secondary-grey400: #eff0f2ff;
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
    transform: none !important;
  }
  .heading2 {
    font-size: 2.5rem;
  }
  .heading3 {
    font-size: 1.8rem;
  }
  .sectionTitle {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.2;
    text-transform: uppercase;
  }
  .Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .Heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    .heading2 {
      font-size: 1.8rem;
    }
    .heading3 {
      font-size: 1.1rem;
    }
  }
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  .home-border {
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
  }
  
  .home-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-radius: 5px;
  }
  
  .home-navbar-interactive {
    width: 90%;
    display: flex;
    position: sticky;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
    background-color: rgb(242, 94, 255);
    color: purple;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .home-logo {
    font-size: 2em;
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .home-nav1 {
    transition: 0.3s;
  }
  
  .home-nav1:hover {
    color: #3d6e70ff;
  }
  
  .home-nav2 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav2:hover {
    color: #3d6e70ff;
  }
  
  .home-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav3:hover {
    color: #3d6e70ff;
  }
  
  .home-nav4 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav4:hover {
    color: #3d6e70ff;
  }
  
  .home-nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav5:hover {
    color: #3d6e70ff;
  }
  
  .home-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-login {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    color: var(--dl-color-primary1-blue100);
  
    .button {
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .button:hover {
      background-color: #3498db;
      /* Change button color on hover */
    }
  }
  
  .home-register {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    border-color: var(--dl-color-primary1-blue100);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
  }
  
  .home-register:hover {
    border-color: rgba(41, 20, 119, 0.9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(41, 20, 119, 0.9);
  }
  
  .home-burger-menu {
    display: none;
  }
  
  .home-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
  }
  
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  
  .home-logo1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-icon02 {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  
  .home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .home-nav11 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav21 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav31 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav41 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav51 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-login1 {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
  }
  
  .home-register1 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
  }
  
  .home-register1:hover {
    border-color: #849492ff;
    background-color: #849492ff;
  }
  
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  .home-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    background-color: var(--dl-color-primary1-blue80);
  }
  
  .home-navbar-interactive {
    width: 90%;
    display: flex;
    position: sticky;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
  }
  
  .home-logo {
    font-size: 2em;
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .home-nav1 {
    transition: 0.3s;
  }
  
  .home-nav1:hover {
    color: #3d6e70ff;
  }
  
  .home-nav2 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav2:hover {
    color: #3d6e70ff;
  }
  
  .home-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav3:hover {
    color: #3d6e70ff;
  }
  
  .home-nav4 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav4:hover {
    color: #3d6e70ff;
  }
  
  .home-nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  
  .home-nav5:hover {
    color: #3d6e70ff;
  }
  
  .home-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-login {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
  
    .button {
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .button:hover {
      background-color: #3498db;
      /* Change button color on hover */
    }
  }
  
  .home-register {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    border-color: var(--dl-color-primary1-blue100);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
  }
  
  .home-register:hover {
    border-color: rgba(41, 20, 119, 0.9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(41, 20, 119, 0.9);
  }
  
  .home-burger-menu {
    display: none;
  }
  
  .home-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
  }
  
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  
  .home-logo1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-icon02 {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  
  .home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .home-nav11 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav21 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav31 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav41 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-nav51 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
  }
  
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-login1 {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
  }
  
  .home-register1 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
  }
  
  .home-register1:hover {
    border-color: #849492ff;
    background-color: #849492ff;
  }
  
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  
  body {
    background-image: url("../bg.png");
    overflow-x: hidden;
    background-color: rgb(241 245 249);
  }
  
  .footer {
    top: 100px;
    background: #242424;
    color: #fff;
    z-index: 1;
    --footer-background: #329e5e;
    display: grid;
    position: relative;
    grid-area: footer;
  }
  
  .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 8rem;
    background: var(--footer-background);
  }
  
  .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  
  .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  
  @keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 7rem);
      height: var(--size, 7rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -1px;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  
  .footer-content {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--footer-background);
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section.links ul li a {
    color: #fff;
  }
  
  .footer h1 {
    font-size: 24px;
  }
  
  .footer p {
    font-size: 16px;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer ul li {
    margin-bottom: 10px;
    color: #f8f8f8;
  }
  
  .contact-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    background-color: #aaaaaa;
    border-radius: 10%;
  }
  
  .btn-primary {
    background-color: #ff5733;
    color: #fff;
    border: none;
    top: 0%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ff5733;
  }
  
  .btn-primary:hover {
    transition: 100ms;
    background-color: #333;
    color: #ff5733;
    border: 1px solid #ff5733;
  }
  
  .footer-bottom {
    background: #329e5e;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 0;
  }
  
  .about-logo {
    text-align: center;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  main a:hover {
    transform: all;
    color: black;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  
  .box a{
    color: black;
  }
  
  .box {
    position: relative;
    border: none;
    padding: 10px 15px;
    background: white;
    border-radius: 10px;
    font-weight: bold;
    overflow: hidden;
    height : 10rem;
    width : 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  
  .box::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) * 1px - 50px);
    left: calc(var(--x, 0) * 1px - 50px);
    width: 100px;
    height: 100px;
    background: radial-gradient(white, #3984ff00 80%);
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .box:hover::after {
    opacity: 0.4;
  }
  
  .tb svg{
    width : 22px;
    height: 22px;
    color : black;
  }
  
  .tb{
    margin : 10px;
    padding:4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(181,255,255,0.6);
    position: absolute;
    top : 0;
    right : 0;
  }